body {
  margin: 0;
  padding: 0;
  background-image: url(img.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Arial, sans-serif;
}

.container {
  background-color: rgba(255, 255, 255, 0.8);
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

header {
  background-color: #007bff;
  color: white;
  text-align: center;
  padding: 20px;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 20px;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
}

button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

#myImage {
  display: block;
  height: auto;
}

#InAndOut {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#InAndOut:hover {
  background-color: #0056b3;
}
